.app {
  padding: 20px;
  display: flex;
}

.users {
  list-style: none;
  width: 250px;
}

.user {
  border: 1px solid lightblue;
  padding: 10px 20px;
  cursor: pointer;
}

.user:not(:last-child) {
  border-bottom: none;
}

.user.selected {
  background-color: lightblue;
}

.user:hover {
  background-color: lightblue;
}